[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
starlette = "*"
pydantic = "*"
passlib = "*"
python-jose = "*"
typing = "*"
datetime = "*"
pyjwt = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.6"
